<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/shop-homepage.css" rel="stylesheet">

<style>

.thumbnail img {
    height:150px;
    width:100%;
}

 td{
   float:left;
       width:25%;
       height: 100%;

       display:inline-block;

}



</style>
</head>
<body ng-app="">
    <div class="container">
      <div class="row">
      <h1>Relevant Products  </h1>
    </div>

    <div style="text-align: right;">
<button class="btn btn-success"  ng-click="moveToCheckOut()">
    Checkout
</button>
</div>

<table>
                     <tr ng-repeat="product in displayproducts" ng-if="$index % 4 == 0" class="row" >
                       <td class="col-sm-3 col-lg-3 col-md-3" style="display:inline-block">
                         <div class="thumbnail">
                             <img src={{displayproducts[$index].picture}} alt="">
                               <div class="caption">
                                 <h4 class="pull-right">{{"Rs. "+displayproducts[$index].Price}}</h4>
                                 <h4>{{displayproducts[$index].name}}</h4>
                                  </br>
                                      <div style="text-align: center;">

                                        <span>Qty <input type="number" ng-model="displayproducts[$index].quantity" min="0"> </input>{{" "+displayproducts[$index].measure}} </span>
                                        </div>


                                       <div  style="text-align: center;">
                                       <button class="btn btn-success" ng-click="cart.addItem(displayproducts[$index].name, displayproducts[$index].Price, displayproducts[$index].quantity,displayproducts[$index].measure)">
                                        add to cart
                                       </button>
                                     </div>
                                 </div>
                              </div>
                           </td>
                    </br>

                    <td class="col-sm-3 col-lg-3 col-md-3" ng-if="($index+1) < displayproducts.length">
                        <div class="thumbnail">
                            <img src={{displayproducts[$index+1].picture}} alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{"Rs. "+displayproducts[$index+1].Price}}</h4>
                                <h4>{{displayproducts[$index+1].name}}</h4>
                              </br>
                                 <div style="text-align: center;">
                                 <span>Qty <input  type="number" ng-model="displayproducts[$index+1].quantity"> </input>{{" "+displayproducts[$index+1].measure}} </span>
                               </div>

                                    <div style="text-align: center;">
                                <button class="btn btn-success"  ng-click="cart.addItem(displayproducts[$index+1].name, displayproducts[$index+1].Price, displayproducts[$index+1].quantity,displayproducts[$index+1].measure)">
                                    add to cart
                                </button>
                              </div>

                            </div>

                        </div>

                    </td>
                      </br>

                    <td  class="col-sm-3 col-lg-3 col-md-3" ng-if="($index+2) < displayproducts.length">
                        <div class="thumbnail">
                            <img src={{displayproducts[$index+2].picture}} alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{"Rs. "+displayproducts[$index+2].Price}}</h4>
                                <h4>{{displayproducts[$index+2].name}}</h4>
                              </br>
                                 <div style="text-align: center;">
                                 <span>Qty <input  type="number" ng-model="displayproducts[$index+2].quantity"> </input>{{" "+displayproducts[$index+2].measure}} </span>
                               </div>

                                    <div style="text-align: center;">
                                <button class="btn btn-success"  ng-click="cart.addItem(displayproducts[$index+2].name, displayproducts[$index+2].Price, displayproducts[$index+2].quantity,displayproducts[$index+1].measure)">
                                    add to cart
                                </button>
                              </div>

                            </div>

                        </div>

                    </td>
                      </br>

                    <td  class="col-sm-3 col-lg-3 col-md-3" ng-if="($index+3) < displayproducts.length">
                        <div class="thumbnail">
                            <img src={{displayproducts[$index+3].picture}} alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{"Rs. "+displayproducts[$index+3].Price}}</h4>
                                <h4>{{displayproducts[$index+3].name}}</h4>
                              </br>
                                 <div style="text-align: center;">
                                 <span>Qty <input  type="number" ng-model="displayproducts[$index+3].quantity"> </input>{{" "+displayproducts[$index+3].measure}} </span>
                               </div>

                                    <div style="text-align: center;">
                                <button class="btn btn-success"  ng-click="cart.addItem(displayproducts[$index+3].name, displayproducts[$index+3].Price, displayproducts[$index+3].quantity,displayproducts[$index+3].measure)">
                                    add to cart
                                </button>
                              </div>

                            </div>

                        </div>

                    </td>



                </tr>
              </table>

    <!-- /.container -->

    <div class="container">



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Abhishek Panda</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->




</body>
