<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->

          <div style="opacity:1">
            <h1> <b> Welcome to Shopping App </b></h1>
          </div>





        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3><b>Shopping Categories</b></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature" style="display:inline-block">
                <div class="thumbnail">
                    <img src="images/vegetables.jpg" alt="">
                    <div class="caption" style="opacity:1">
                        <h3>Fruits and Vegetables (Organic)</h3>
                        <p>Organic Fruits and Vegetables</p>
                        <p>
                              <button ng-click="setCategory('Vegetables')" class="btn btn-primary">Buy Now!</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature" style="display:inline-block">
                <div class="thumbnail">
                    <img src="images/milkproducts.jpeg"alt="">
                    <div class="caption">
                        <h3>Milk and Diary Products</h3>
                        <p>Pure Milk and DiaryProducts</p>
                        <p>
                      <button ng-click="setCategory('milk')" class="btn btn-primary">Buy Now!</button>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature" style="display:inline-block">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Coming Soon</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature" style="display:inline-block">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Coming Soon</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <button ng-click="setCategory('Fruits')" class="btn btn-primary">Buy Now!</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Abhishek Panda</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->

</body>
